.container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;

    margin-top: 10rem;

}

.container div {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;

    width: 33%;

}

div button {

    align-self: self-start;

}

.container img {

    flex-grow: auto;

}