.container {

    display: flex;
    flex-direction: column;
    gap: 5rem;

    margin-top: 10rem;

}

@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        padding-inline: 5rem;
    }

}

@media (min-width: 280px) and (max-width: 767px) {

    .container {
        padding-inline: 2rem;
    }

}