.container {

    display: flex;
    justify-content: space-between;
    gap: 8rem;

    margin-top: 10rem;

}

.container p {

    line-height: 2;
    text-align: justify;
    width: 66%;

}

@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        padding-inline: 5rem;

        gap: 4rem;
    }

}

@media (min-width: 280px) and (max-width: 767px) {

    .container {
        padding-inline: 2rem;
        flex-direction: column;
        gap: 4rem;
    }

    .container p {
        width: 100%;
    }

}