:root {

    --color-100: #7B61FF;
    --color-200: #6880FF;
    --color-300: #7C91FF;
    --grayscale-100: #000;
    --grayscale-200: #FFF;

    font-size: 62.5%;

    box-sizing: border-box;

}

body,
button,
input {

    font-family: 'Inter', sans-serif;

}

body {

    background-color: var(--grayscale-100);
    color: var(--grayscale-200);

}

.center {

    max-width: 1024px;
    margin: 0 auto;

}