.container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.7rem 0;

}

.menu {

    display: flex;
    justify-content: space-between;
    gap: 6rem;

}

.menu a {

    text-decoration: none;
    color: var(--grayscale-200);
    font-size: 1.6rem;
    font-weight: 600;

}