.container {
    
    margin-top: 10rem;
    margin-bottom: 2rem;

}

.content {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 5rem;
    border-block: solid 1px var(--grayscale-200);

}

.contact {

    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.redirect {

    display: flex;
    flex-direction: row;
    gap: 2rem;

}

@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        padding-inline: 5rem;
    }

}

@media (min-width: 280px) and (max-width: 767px) {

    .container {
        padding-inline: 2rem;
        
    }

    .content {
        flex-direction: column;
        gap: 4rem;
        align-items: center;
    }

    .content p {
        text-align: center;
        line-height: 1.5;
        width: 70%;
    }

    .contact {
        align-items: center;
        gap: 4rem;
    }
    
}